<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" id="nav-logo-container" href="/"><img src="/images/property-pal-logo-horiz.png"></a>
</nav>

<section class="container white-bg-container">
    <div class="row justify-content-md-center">
        <div class="col-12">
            <h2>Site administrator's page</h2>
            <h1>There are {{allOwners.length}} owners </h1>
            <p>Here the administrator can manage the users, owners and properties.</p>
        </div>
    </div>
    <hr>
    <!--div class="alert alert-success" role="alert" id="ownersBanner">
        OWNERS
    </div-->
    <div class="row justify-content-md-center" id="ownersTable">
        {{#each allOwners}}
        <li>
            <div class="row">
                <div class="col-12" id="ownersTableResults">
                    <div class="user-box">
                    USER {{this.id}}
                    <p id="username-text">{{this.firstName}} {{this.lastName}}</p>
                    <a href="/owner/edit/{{this.id}}"><button type="button" class="btn btn-success">EDIT</button></a>
                    <button type="button" class="btn btn-danger adminDeleteOwner" ownerId={{this.id}}>DELETE</button>
                    </div>
                    {{#each this.properties}}
                    <hr>
                    <div class="col-12" id="propertyImg">
                    <img src={{this.photo}} height="75" width="75">
                    </div>
                    <div class="col-12" id="propertyDescription">
                    <h2>{{this.price_string}}</h2>
                    <p>{{this.info}}</p>
                    </div>
                    <a href="/property/edit/{{this.id}}"><button type="button" class="btn btn-success">EDIT</button></a>
                    <button type="button" class="btn btn-danger adminDeleteProperty" propId={{this.id}}>DELETE</button>
                    {{/each}}
                    
                </div>
            </div>
        </li>
        {{/each}}


    </div>
</section>

