<section class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <hr>
            <h1>OWNER's PAGE</h1>
            <h2>Welcome back {{client.firstName}} {{client.lastName}}!</h2>
            <p>Here the owner can see his-her properties.</p>
        </div>
    </div>
    <hr>
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title">Account info</h5>
            <p class="card-text">First name: <b>{{client.firstName}}</b></p>
            <p class="card-text">Last name: <b>{{client.lastName}}</b></p>
            <p class="card-text">Email: <b>{{client.email}}</b></p>
            <p class="card-text">Phone: <b>{{client.phone}}</b></p>
            <p class="card-text">Address: <b>{{client.address1}} {{client.address2}}, {{client.city}},
                    {{client.province}}, {{client.country}}</b></p>
        </div>
    </div>
    <hr>
    <div>
        <a href="/property/add/{{client.id}}"><button type="button" class="btn btn-primary">ADD NEW PROPERTY</button></a>
    </div>
    <hr>
    <div class="alert alert-success" role="alert">
        Here are your {{properties.count}} properties
    </div>
    {{#each properties.rows}}
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><small>#{{id}} </small>{{info}}</h5>
                    <a href="/property/edit/{{id}}"><button type="button" class="btn btn-success">EDIT</button></a>
                    {{!-- <a href="/property/delete/{{id}}"><button type="button" class="btn btn-danger">DELETE</button></a> --}}
                    <button type="button" class="btn btn-danger deleteProperty" data-tag="{{id}}">DELETE</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</section>