<section class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <hr>
            <h1>PROPERTY INFO - ID {{property.id}}</h1>
        </div>
    </div>
    <hr>
    <div class="row justify-content-md-center">

        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title inline">ID: {{property.id}}</h5>
                <p class="card-text"><b>info:</b> {{property.info}}</p>
                <p class="card-text"><b>address1:</b> {{property.address1}}</p>
                <p class="card-text"><b>address2:</b> {{property.address2}}</p>
                <p class="card-text"><b>postalcode:</b> {{property.postalcode}}</p>
                <p class="card-text"><b>propertype:</b> {{property.propertype}}</p>
                <p class="card-text"><b>price_string:</b> {{property.price_string}}</p>
                <p class="card-text"><b>price_dec:</b> {{property.price_dec}}</p>
                <p class="card-text"><b>bedrooms:</b> {{property.bedrooms}}</p>
                <p class="card-text"><b>bathrooms:</b> {{property.bathrooms}}</p>
                <p class="card-text"><b>ownershiptype:</b> {{property.ownershiptype}}</p>
                <p class="card-text"><b>ammenities:</b> {{property.ammenities}}</p>
                <p class="card-text"><b>ammenitiesnearby:</b> {{property.ammenitiesnearby}}</p>
                <p class="card-text"><b>photo:</b> <img src="{{property.photo}}" style="width: 200px" alt="Property photo"> </p>
                <p class="card-text"><small>createdAt: {{property.createdAt}}</small></p>
                <p class="card-text"><small>updatedAt: {{property.updatedAt}}</small></p>
            </div>
            <hr>
        </div>
        <a href="/property/edit/{{property.id}}"><button type="button" class="btn btn-success">UPDATE PROPERTY
                REF#{{property.id}}</button></a>
    </div>
    <hr>


</section>