<section class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h2>Site administrator's page</h2>
            <h1>There are {{allOwners.length}} owners </h1>
            <p>Here the administrator can manage the users, owners and properties.</p>
        </div>
    </div>
    <hr>
    <div class="alert alert-primary" role="alert">
        Users
    </div>
    <div class="row justify-content-md-center">
        {{#each allOwners}}
        <li>
            <div class="row">
                <div class="col-md-auto">
                    ***** User {{this.id}} *****
                    <p>{{this.firstName}} {{this.lastName}}</p>
                    <a href="/api/owner/id"><button type="button" class="btn btn-success">EDIT</button></a>
                    <a href="/api/owner/id"><button type="button" class="btn btn-danger">DELETE</button></a>
                    {{#each this.properties}}
                    <hr>
                    <img src={{this.photo}} height="75" width="75">
                    <h2>{{this.price_string}}</h2>
                    <p>{{this.info}}</p>
                    <a href="/owner"><button type="button" class="btn btn-success">EDIT</button></a>
                    <a href="/owner"><button type="button" class="btn btn-danger">DELETE</button></a>
                    {{/each}}

                </div>
            </div>
        </li>
        {{/each}}


    </div>
</section>

<script>
    console.log(allOwners)
</script>